
:root{
    --c-primary: hsla(38, 97%, 55%, 1);
    --c-text: hsla(235, 52%, 15%, 1);
    --f-body: FigtreeVariable, ui-sans-serif, system-ui;
    --f-display: EpilogueVariable, ui-sans-serif, system-ui;
}
html {
    font-family: var(--f-body);
    color: var(--c-text)
}